# Week 2 Notebook 4 Pandas Wrangling

Nama : Rafi Iyad Madani Chaidir
NIM : E1E121038

In [1]:
# We should always start with the import, although it may have been run above
import pandas as pd

In [2]:
# read the data into a dataframe called irisdf
irisdf = pd.read_csv('iris_csv.csv')

**Q1. Missing Values**

Check if there are any missing values in the `irisdf` data set.

In [3]:
# Q1 Answer

missing_values = irisdf.isna().sum()
print(missing_values)

sepallength    0
sepalwidth     0
petallength    0
petalwidth     0
class          0
dtype: int64

**Q2. Find Duplicates**

There are three duplicate rows, display the rows.

In [4]:
#Q2 Answer

duplicate_rows = irisdf[irisdf.duplicated()]
print(duplicate_rows)

     sepallength  sepalwidth  petallength  petalwidth           class
34           4.9         3.1          1.5         0.1     Iris-setosa
37           4.9         3.1          1.5         0.1     Iris-setosa
142          5.8         2.7          5.1         1.9  Iris-virginica

**Q3. Calculate Mean**

Find the mean `sepallength` and store it in a variable called `mean_sepallength`

In [6]:
#Q3 answer
mean_sepallength = irisdf['sepallength'].mean()

print("Mean Sepal Length:", mean_sepallength)

Mean Sepal Length: 5.843333333333334

**Q4. Set Value**

Set the `sepallength` of the row with index 34 to the mean value found.

In [7]:
# Q4 Answer

irisdf.at[34, 'sepallength'] = mean_sepallength

print(irisdf.loc[34])

sepallength       5.843333
sepalwidth             3.1
petallength            1.5
petalwidth             0.1
class          Iris-setosa
Name: 34, dtype: object

In [15]:
duplicate_rows = irisdf[irisdf.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [sepallength, sepalwidth, petallength, petalwidth, class]
Index: []

**Q5. Drop Duplicates**

Drop the rows with duplicates

In [8]:
# Q5 answer
irisdf = irisdf.drop_duplicates()

irisdf = irisdf.reset_index(drop=True)

print(irisdf)

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
143          6.7         3.0          5.2         2.3  Iris-virginica
144          6.3         2.5          5.0         1.9  Iris-virginica
145          6.5         3.0          5.2         2.0  Iris-virginica
146          6.2         3.4          5.4         2.3  Iris-virginica
147          5.9         3.0          5.1         1.8  Iris-virginica

[148 rows x 5 columns]

**Q6. Set as NA**

Set the `sepalwidth` of the row with index 34 to `pd.NA` (which is pandas for NULL value)

In [10]:
# Q6 Answer
irisdf.at[34, 'sepalwidth'] = pd.NA

In [11]:
print(irisdf.loc[34])

sepallength       5.843333
sepalwidth             NaN
petallength            1.5
petalwidth             0.1
class          Iris-setosa
Name: 34, dtype: object

**Q7. Find Rows with Missing Values**

Find the rows with *any* NA values

In [12]:
# Q7 Answer

rows_with_na = irisdf[irisdf.isna().any(axis=1)]
print(rows_with_na)
# Find the rows with any 'na' values, by row (axis = 1 indicates to check row by row)

    sepallength  sepalwidth  petallength  petalwidth        class
34     5.843333         NaN          1.5         0.1  Iris-setosa

**Q8. Drop Rows with Missing Values**

Now drop the rows with missing values with the argument `inplace = True`

In [13]:
# Q8 answer
irisdf.dropna(inplace=True)

In [14]:
rows_with_na = irisdf[irisdf.isna().any(axis=1)]
print(rows_with_na)
# Find the rows with any 'na' values, by row (axis = 1 indicates to check row by row)

Empty DataFrame
Columns: [sepallength, sepalwidth, petallength, petalwidth, class]
Index: []